.contact-hero {
  min-height: 80vh;
  justify-items: center;
  align-content: top;
  padding-top: 20%;
  background: var(--bg);
  width: 100%;
}

.contactGrid {
  display: grid;
  gap: 1.2rem;
  place-items: center;
  h1 {
    grid-area: 1 / 1 / 2 / 4;
    font-size: 3rem;
    font-weight: 800;
  }
  .email {
    grid-area: 2 / 1 / 3 / 2;
    font-size: 1.2rem;
    background: var(--accent);
    color: var(--text);
    padding-inline: 0.5rem;
    padding-block: 0.2rem;
    border-radius: 1rem;
  }
  .github {
    grid-area: 2 / 2 / 3 / 4;
    font-size: 1.2rem;
    background: var(--accent);
    color: var(--text);
    padding-inline: 0.5rem;
    padding-block: 0.2rem;
    border-radius: 1rem;
  }
}

@media (min-width: 674px) {
  .contact-hero {
    align-content: center;
    padding-top: 0;
  }
}